<div class="navbar bg-base-100">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
      </div>
      <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
        <li><a class="FontNav font-bold">Accueil</a></li>
        <li>
          <a class="FontNav font-bold">Notre solution</a>
          <ul class="p-2">
            <li><a class="FontNav font-bold">Tatoueurs</a></li>
            <li><a class="FontNav font-bold">Tatoués</a></li>
          </ul>
        </li>
        <li><a class="FontNav font-bold">Tarifs</a></li>
      </ul>
    </div>
    <a class="btn btn-ghost text-2xl NavTitle font-bold">INKMATCH</a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li><a routerLink="/" class="FontNav font-bold">Accueil</a></li>
      <li>
        <details>
          <summary class="FontNav font-bold">Mon espace</summary>
          <ul class="p-2">
            <li><a routerLink="/service/dashboard" class="FontNav">Dashboard</a></li>
            <li><a routerLink="/service/chat" class="FontNav">Chat</a></li>
            <li><a routerLink="/service/profile" class="FontNav">Profile</a></li>
          </ul>
        </details>
      </li>
      <li><a routerLink="/artist" class="FontNav font-bold">Nos Artists</a></li>
      <li><a routerLink="/prices" class="FontNav font-bold">Tarifs</a></li>
    </ul>
  </div>
  <div class="navbar-end">
    <a routerLink="/login" class="btn btn-connexion">Connexion</a>
    <a routerLink="/register" class="btn bg-accent btn-register">Inscription</a>
  </div>
</div>
