.btn-connexion {
  color: #72757e;
  background-color: #d9d9d9;
  border-radius: 51px;
  margin-right: 8px;
}
.btn-register {
  color: #FFFFFF;
  border-radius: 51px;
}
.FontNav{
  color: #FFFFFF;
}
.NavTitle{
  background: #FFFFFF;
  background: linear-gradient(to right, #FFFFFF 15%, #2CB67D 50%, #7F5AF0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
