<div class="container">
  <div class="hero ">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <img src="assets/heroPic.png" class="max-w-lg rounded-lg shadow-2xl" />
      <div class="w-2/4">
        <h1 class="text-3xl font-bold">Connectez-vous à l'art du tatouage : Réservez votre prochain chef-d'œuvre en quelques clics avec <p class="heroTitle">InkMatch !!!</p></h1>
        <p class="py-6">Plongez dans le monde vibrant de l'art corporel avec InkMatch votre passerelle numérique vers des tatouages extraordinaires. Découvrez, réservez et expérimentez l'art du tatouage comme jamais auparavant.s</p>
        <button class="btn btnRegisterHero">Créez mon compte gratuitement</button>
      </div>
    </div>
  </div>
  <div>
    <h1 class="text-3xl font-bold flex justify-center">Notre Objectif</h1>
    <p class="py-6 secondary"><a class="textWhiteHero">InkMatch</a> est l'outil parfait pour relier passionnés de tatouage et artistes professionnels. Avec une interface facile à utiliser, notre application permet de trouver et réserver des tatoueurs talentueux en quelques clics. Que vous cherchiez à agrandir votre collection d'art corporel ou que vous soyez un artiste désirant élargir votre clientèle, <a class="textWhiteHero">InkMatch</a> simplifie ce processus. Nous nous engageons à offrir une expérience de réservation pratique, sûre et agréable, en célébrant la créativité et l'expression personnelle à travers l'art du tatouage.</p>
  </div>

</div>
